%h1 About
%p
  This is an sample Ruby on Rails application was originally developed by
  %a{:href => "http://ruby.railstutorial.org/", :target => "_blank"}  Michael Hartl
  in 2010 and then in the end of 2012 rewritten from scratch with minor changes (improved design, adoption for Rails
  = Rails.version
  , HAML instead of ERB, SASS instead of CSS, etc.) by
  %a{:href => "http://cationfire.net", :target => "_blank"} Ilya
