%h1 Contact
%p
  Contacts of Michael Hartl can be found at his site&nbsp;
  %a{:href => "http://ruby.railstutorial.org/"}> http://ruby.railstutorial.org/
  , and mine at
  %a{:href => "http://cationfire.net/"} http://cationfire.net/
